---
layout: page
description: "UC Berkeley graduate in electrical engineering and computer science with an interest in cool toys."
displaycategory: portfolio
---

<h1>Portfolio</h1>
<hr/>
<div id="portfolio">
{% for post in site.posts %}
{% if post.categories contains page.displaycategory %}
<a href="{{ BASE_PATH }}{{ post.url }}" class="col-sm-4">
    <img src="{{post.teaser}}" class="img-responsive" alt="{{post.title}} header image">
    <div class="portfolio-caption">
        <h4>{{ post.title }}</h4>
        <p class="text-muted">{{ post.tagline }}</p>
    </div>
</a>
{% endif %}
{% endfor %}
</div>
<!-- <br>
<h1>Blog Posts</h1>
<hr/>
<section id="blog">
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2>
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">Posted {% if post.author != "by Madeeha Ghori"%}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}

<!-- Pager 
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
</section>
 -->