<!-- Sidebar -->
<div class="sidebar-profile">
  <div class="sidebar-sticky">
    <div class="sidebar-about border-boxed">
      <h1>
        <a href="{{ site.baseurl }}">
          madeeha ghori
        </a>
      </h1>
    </div>
    <div class="portfolio-info">
    <iframe class="flex-video-widescreen" src="https://www.youtube.com/embed/TRWMHCnoQ3U" frameborder="0" width="100%" height="300px"></iframe>
      <ul class="social">
      <li><div style="width:90px">
        <a href="{{page.instructions}}">
        <i class="fa fa-flask fa-5x" alt="project instructions"></i>
        <p>Make your own! 
        </a>
      </div></li>
      <li><div style="width:100px">
        <a href="{{page.hackster}}">
        <i class="fa fa-h-square fa-5x" alt="project's hackster link" > </i> 
        <p>View the project on hackster
        </a>
      </div></li>
      <li><div style="width:100px">
        <a href="{{page.github}}">
        <i class="fa fa-github-square fa-5x" alt="project's github link" > </i> 
        <p>View relevant github code
        </a>
      </div></li>
      </ul>
  </div>
</div>
</div>
<!-- /#sidebar-wrapper -->